

services:
  app:
    image: muestra-app
    build: .
    ports:
      - "5050:80" # Tu app se verá en localhost:5050
    environment:
      # IMPORTANTE: Aquí sobrescribimos la conexión para que apunte al contenedor de Oracle
      - ConnectionStrings__MyDbConnection=User Id=MUESTRA_ADMIN;Password=Muestra.2025;Data Source=oracle-db:1521/XEPDB1;
    depends_on:
      - oracle-db
    networks:
      - red-muestra

  oracle-db:
    image: gvenzl/oracle-xe:21-slim
    container_name: oracle-container
    ports:
      - "1521:1521"
    environment:
      - ORACLE_PASSWORD=Cronos
      # Variables para crear el usuario automáticamente al iniciar (solo la primera vez)
      - APP_USER=MUESTRA_ADMIN
      - APP_USER_PASSWORD=Muestra.2025
    volumes:
      - oracle_data:/opt/oracle/oradata
    networks:
      - red-muestra

networks:
  red-muestra:
    driver: bridge

volumes:
  oracle_data: